{# OJO! Cuando se hereda de una plantilla todo el contenido debe estar dentro de bloques! #}
{% extends 'base.html.twig' %}

{% block title %} Tienda DWCS {% endblock %}

{% block body %}
    <h1>{{ title | upper }}</h1>
    <div>
        <ul>
            {% for producto in productos %}
                <li>
                    {{ producto.title }} - 
                    {{ producto.trackCount }} tracks - 
                    Genre: {{ producto.genre }} - 
                    Created at: {{ producto.createdAt }}
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}